* {
    background-color: bisque;
}

.color-name {
    font-weight: normal;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

#pink {
    color: pink;
}

#purple {
    color: purple;
}

#black {
    color: black;
}

#white {
    color: white;
}

#brown {
    color: brown;
}

